node_modules
.next
.git
.gitignore
.env
.env.local
.env.production
.env.development
README.md
planning.md
LICENSE
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
public/uploads/*
!public/uploads/.gitkeep
